In [2]:
import pandas as pd
import numpy as np
#from pprint import pprint
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("once")

https://pandas-datareader.readthedocs.io/en/latest/

In [4]:
# conda install -n jupyter pandas-datareader
!pip install pandas-datareader --upgrade --no-cache-dir

#!conda install -n jupyter -c ranaroussi yfinance
!pip install yfinance --upgrade --no-cache-dir

from pandas_datareader import data as pdr

Requirement already up-to-date: pandas-datareader in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied, skipping upgrade: requests>=2.19.0 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: pandas>=0.23 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas-datareader) (0.25.3)
Requirement already satisfied, skipping upgrade: lxml in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas-datareader) (4.5.2)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.8)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.18.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas-datareader) (1.14.0)
Requirement already up-to-date: yfinance in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (0.1.54)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (0.25.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (1.18.1)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)

In [6]:
# If your code uses pandas_datareader and you want to download data faster, you can “hijack” pandas_datareader.data.get_data_yahoo() method to use yfinance while making sure the returned data is in the same format as pandas_datareader’s get_data_yahoo().
import yfinance as yf
yf.pdr_override()

# now you could
from pandas_datareader import data as pdr
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2020-04-30")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,210.625656,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,211.878738,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,211.710403,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,212.467834,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,211.766541,46939700
...,...,...,...,...,...,...
2020-04-23,280.489990,283.940002,278.750000,279.079987,277.857239,104709700
2020-04-24,280.730011,283.700012,278.500000,282.970001,281.730225,85166000
2020-04-27,285.119995,288.269989,284.619995,287.049988,285.792328,77896600
2020-04-28,291.019989,291.399994,285.399994,285.730011,284.478149,105270000
2020-04-29,291.529999,294.880005,290.410004,293.209991,291.925354,118745600

In [7]:
data = pdr.get_data_yahoo("PZU", start="2017-01-01", end="2020-04-30")
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-01-03  33.330002  33.880001  33.180000  33.820000  33.820000  2078785
2017-01-04  33.849998  34.099998  33.099998  33.169998  33.169998  2779327
2017-01-05  33.169998  33.349998  32.799999  32.820000  32.820000  2869504
2017-01-06  32.820000  32.820000  32.820000  32.820000  32.820000        0
2017-01-09  32.869999  33.750000  32.560001  33.750000  33.750000  3373415
...               ...        ...        ...        ...        ...      ...
2018-01-24  46.619999  46.740002  46.080002  46.080002  46.080002   840628
2018-01-25  46.000000  47.000000  45.759998  46.599998  46.599998  1434029
2018-01-26  46.759998  47.340000  46.730000  47.340000  47.340000  1120409
2018-01-29  47.080002  47.290001  46.250000  46.500000  46.500000  1158182
2018-01-30  46.209999  46.220001  45.450001  45.750000  45.750000   775836

[271 rows x 6 columns]