In [1]:
import pandas as pd
import numpy as np
#from pprint import pprint
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("once")

Bad key "text.kerning_factor" on line 4 in
/home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

https://pypi.org/project/fix-yahoo-finance/

yfinance does the job of scraping the data from Yahoo! finance and returning a Pandas DataFrame in the same format as pandas_datareader’s get_data_yahoo().

By basically “hijacking” pandas_datareader.data.get_data_yahoo() method, fix-yahoo-finance’s implementation is easy and only requires to import fix_yahoo_finance into your code.

In [22]:
#!conda install -n jupyter -c ranaroussi yfinance
!pip install yfinance --upgrade --no-cache-dir

# If your code uses pandas_datareader and you want to download data faster, you can “hijack” pandas_datareader.data.get_data_yahoo() method to use yfinance while making sure the returned data is in the same format as pandas_datareader’s get_data_yahoo().
#import yfinance as yf
#yf.pdr_override()

# now you could
#from pandas_datareader import data as pdr
#data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

Requirement already up-to-date: yfinance in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (0.1.54)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (1.18.1)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (0.25.3)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
[*********************100%***********************]  1 of 1 completed

In [21]:
def fetch_data(syms):
    symbols = syms 
    start = '2017-07-31'
    end = '2020-07-31'
    return (df := yf.download(symbols,start,end))
fetch_data('MSFT PGE')

[*********************100%***********************]  2 of 2 completed

             Adj Close               Close                High          \
                  MSFT     PGE        MSFT     PGE        MSFT     PGE
Date
2017-07-31   69.315483   0.120   72.699997   0.120   73.440002   0.120
2017-08-01   69.201080   0.120   72.580002   0.120   73.419998   0.125
2017-08-02   68.895973  13.340   72.260002  13.340   72.559998  13.570
2017-08-03   68.791092   0.110   72.150002   0.110   72.440002   0.110
2017-08-04   69.296425   0.043   72.680000   0.043   73.040001   0.043
...                ...     ...         ...     ...         ...     ...
2020-07-24  201.300003     NaN  201.300003     NaN  202.860001     NaN
2020-07-27  203.850006     NaN  203.850006     NaN  203.970001     NaN
2020-07-28  202.020004     NaN  202.020004     NaN  204.699997     NaN
2020-07-29  204.059998     NaN  204.059998     NaN  204.649994     NaN
2020-07-30  203.899994     NaN  203.899994     NaN  204.460007     NaN

                   Low                Open            Volume
                  MSFT     PGE        MSFT     PGE      MSFT        PGE
Date
2017-07-31   72.410004   0.120   73.300003   0.120  23600100     3000.0
2017-08-01   72.489998   0.120   73.099998   0.120  22132300    35000.0
2017-08-02   71.440002  13.300   72.550003  13.300  26499200  2266377.0
2017-08-03   71.849998   0.110   72.190002   0.110  18214400    20000.0
2017-08-04   72.239998   0.043   72.400002   0.043  22579000        0.0
...                ...     ...         ...     ...       ...        ...
2020-07-24  197.509995     NaN  200.419998     NaN  39827000        NaN
2020-07-27  200.860001     NaN  201.470001     NaN  30160900        NaN
2020-07-28  201.740005     NaN  203.610001     NaN  23251400        NaN
2020-07-29  202.009995     NaN  202.500000     NaN  19632600        NaN
2020-07-30  199.570007     NaN  201.000000     NaN  25079600        NaN

[756 rows x 12 columns]

In [7]:
fetch_data('PZU') # it seems that exotic tickers do not have most recent stock quotes

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-07-31  44.500000  44.700001  44.049999  44.290001  44.290001  2754835
2017-08-01  44.290001  44.450001  43.849998  44.000000  44.000000  2776555
2017-08-02  44.090000  44.790001  44.020000  44.790001  44.790001  1285208
2017-08-03  44.779999  46.299999  44.580002  46.200001  46.200001  2043200
2017-08-04  46.200001  46.450001  45.509998  45.950001  45.950001  1746366
...               ...        ...        ...        ...        ...      ...
2018-01-24  46.619999  46.740002  46.080002  46.080002  46.080002   840628
2018-01-25  46.000000  47.000000  45.759998  46.599998  46.599998  1434029
2018-01-26  46.759998  47.340000  46.730000  47.340000  47.340000  1120409
2018-01-29  47.080002  47.290001  46.250000  46.500000  46.500000  1158182
2018-01-30  46.209999  46.220001  45.450001  45.750000  45.750000   775836

[127 rows x 6 columns]

In [17]:
pzu = yf.Ticker("PZU")
pzu.history(period="max")

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-05-11  32.20  32.20  32.20  32.20         0          0             0
2010-05-12  34.90  36.00  34.81  36.00  72253000          0             0
2010-05-13  35.80  36.19  35.40  35.70  18084200          0             0
2010-05-14  35.53  36.00  35.33  35.50  10570620          0             0
2010-05-17  34.60  35.30  34.52  35.10   9313620          0             0
...           ...    ...    ...    ...       ...        ...           ...
2018-01-24  46.62  46.74  46.08  46.08    840628          0             0
2018-01-25  46.00  47.00  45.76  46.60   1434029          0             0
2018-01-26  46.76  47.34  46.73  47.34   1120409          0             0
2018-01-29  47.08  47.29  46.25  46.50   1158182          0             0
2018-01-30  46.21  46.22  45.45  45.75    775836          0             0

[1934 rows x 7 columns]

In [10]:
msft = yf.Ticker("MSFT")
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-07-27,201.47,203.97,200.86,203.85,30160900,0.0,0.0
2020-07-28,203.61,204.70,201.74,202.02,23251400,0.0,0.0
2020-07-29,202.50,204.65,202.01,204.06,19632600,0.0,0.0
2020-07-30,201.00,204.46,199.57,203.90,25079600,0.0,0.0
2020-07-31,204.40,205.10,199.01,205.01,51044000,0.0,0.0

In [12]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0

[75 rows x 2 columns]

In [13]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
Name: Dividends, Length: 66, dtype: float64

In [14]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [15]:
# mod of yfinance fixing some issues - TODO which issues?
!pip install yfinance-ez

Collecting yfinance-ez
  Downloading yfinance_ez-0.2.2.tar.gz (28 kB)
Requirement already satisfied: pandas>=0.24 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance-ez) (0.25.3)
Requirement already satisfied: numpy>=1.15 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance-ez) (1.18.1)
Requirement already satisfied: requests>=2.20 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance-ez) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from yfinance-ez) (0.0.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance-ez) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from pandas>=0.24->yfinance-ez) (2019.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance-ez) (1.25.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance-ez) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance-ez) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from requests>=2.20->yfinance-ez) (2020.6.20)
Requirement already satisfied: six>=1.5 in /home/raf/.local/bin/miniconda3/envs/jupyter/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance-ez) (1.14.0)
Building wheels for collected packages: yfinance-ez
  Building wheel for yfinance-ez (setup.py) ... done
  Created wheel for yfinance-ez: filename=yfinance_ez-0.2.2-py2.py3-none-any.whl size=32731 sha256=dc31a2e771a28a85b647b51780689c5c64ddea5447514e77aacba6bd2193fd10
  Stored in directory: /home/raf/.cache/pip/wheels/4d/d3/79/7f66524c8d12ad7f16a3e90c5f57579deddaf4e3393af740fe
Successfully built yfinance-ez
Installing collected packages: yfinance-ez
Successfully installed yfinance-ez-0.2.2

In [19]:
msft.info #get stock info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent and marketing solutions, and subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also provides support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment offers Windows OEM licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also provides Microsoft Surface, PC accessories, and other devices; Gaming, including Xbox hardware, and Xbox software and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through distributors and resellers; and directly through digital marketplaces, online stores, and retail stores. It has strategic partnerships with Humana Inc., Nokia, Telkomsel, Swiss Re, Kubota Corporation, FedEx Corp., and Hitachi. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Software—Infrastructure',
 'previousClose': 203.9,
 'regularMarketOpen': 204.4,
 'twoHundredDayAverage': 179.17288,
 'trailingAnnualDividendYield': 0.010004904,
 'payoutRatio': 0.3455,
 'volume24Hr': None,
 'regularMarketDayHigh': 205.1,
 'navPrice': None,
 'averageDailyVolume10Day': 38257275,
 'totalAssets': None,
 'regularMarketPreviousClose': 203.9,
 'fiftyDayAverage': 203.162,
 'trailingAnnualDividendRate': 2.04,
 'open': 204.4,
 'toCurrency': None,
 'averageVolume10days': 38257275,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1597795200,
 'beta': 0.933333,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 199.01,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 35.59201,
 'regularMarketVolume': 51247969,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1552130637824,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 34751042,
 'priceToSalesTrailing12Months': 10.8529215,
 'dayLow': 199.01,
 'ask': 205.86,
 'ytdReturn': None,
 'askSize': 1100,
 'volume': 51247969,
 'fiftyTwoWeekHigh': 216.38,
 'forwardPE': 27.930517,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.89,
 'fiftyTwoWeekLow': 130.78,
 'bid': 205.5,
 'tradeable': False,
 'dividendYield': 0.01,
 'bidSize': 1100,
 'dayHigh': 205.1,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.468,
 'beta3Year': None,
 'profitMargins': 0.30962,
 'enterpriseToEbitda': 22.94,
 '52WeekChange': 0.55063903,
 'morningStarRiskRating': None,
 'forwardEps': 7.34,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7570999808,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.626,
 'sharesShort': 39894144,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.74093,
 'netIncomeToCommon': 44280999936,
 'trailingEps': 5.76,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.14988375,
 'priceToBook': 13.1198,
 'heldPercentInsiders': 0.014249999,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1593475200,
 'shortRatio': 1.19,
 'sharesShortPreviousMonthDate': 1592179200,
 'floatShares': 7456408437,
 'enterpriseValue': 1497062572032,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.151,
 'dateShortInterest': 1594771200,
 'pegRatio': 2.1,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 42930465,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 204.4,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}